.ipynb_checkpoints/
*.co.smo7_dil.flux.out
*.co.smo7_smo.flux.out
*.co.smo7*fits.gz
*.cube.fits.gz
edge*.hdf5
__pycache__/
dbfiles
dist
SQL-test.ipynb
build/lib
hispec_default.csv

# created by distribution
dist/
*/__pycache__/
*.egg-info
test/
build.sh
*.json
*.pdf
